extends ../layouts/common
block main
    header
        include ../home/header-view
    link(rel="stylesheet", href="/stylesheets/members/members.css")
    .content            
        button.btn.btn-outline-dark.create-btn 
            a(href="/members/members-create") Create Members
        form(method="GET" action="/members/members-search").form-inline
            input.form-control.mr-sm-2(type="search", placeholder="Search by Name", aria-lable="Search", name="q")
            button.btn.btn-outline-dark.search-btn Search
            form(method="GET").form-inline.form-group
                select.custom-select.ml-5(required)
                    option(value="Location") Location
                    option(value="Coders.Tokyo") Coders.Tokyo
                    option(value="Cantho") Cần Thơ
                    option(value="Saigon") Sài Gòn
                    option(value="Hanoi") Hà Nội
                    option(value="Danang") Đà Nẵng
                    option(value="Dalat") Đà Lạt
        table.table.table-bordered.table-hover
            thead.thead-light
                tr
                    th(scope="col") Name
                    th(scope="col") Dob
                    th(scope="col") Phone
                    th(scope="col") Mail
                    th(scope="col") 
                        span Facebook
                    th.pr-0(scope="col") Modify
                each member in members
                    tr
                        td(disabled)= member.name
                        td= member.dob
                        td= member.phone
                        td= member.email
                        td
                            a(href="//www."+member.facebook)= member.facebook
                        td.pr-0
                            a.pr-5(href="#")
                                i(class="fas fa-trash")
                            a.pl-3(href="#")
                                i(class="fas fa-pen")