extends ../layouts/common
block content
    link(rel="stylesheet", href="/stylesheets/members/members.css")
    .content            
        button.btn.btn-outline-dark.create-btn 
            a(href="/members/members-create") Create Members
        form(method="GET" action="/members/members-search").form-inline
            input.form-control.mr-sm-2(type="search", placeholder="Search by Name", aria-lable="Search", name="q")
            button.btn.btn-outline-dark.search-btn Search
            form(method="GET").form-inline.form-group
                select.custom-select.ml-5(required)
                    option(value="Location") Location
                    option(value="Cần Thơ") Cần Thơ
                    option(value="Sài Gòn") Sài Gòn
                    option(value="Hà Nội") Hà Nội
                    option(value="Đà Nẵng") Đà Nẵng
                    option(value="Đà Lạt") Đà Lạt
        table.table.table-bordered.table-hover
            thead.thead-light
                tr
                    th(scope="col") Name
                    th(scope="col") Dob
                    th(scope="col") Phone
                    th(scope="col") Mail
                    th(scope="col") 
                        span Facebook
                    th.pr-0(scope="col") Modify
                each member in members                    
                    tr
                        td(disabled)= member.name
                        td= member.dob
                        td= member.phone
                        td= member.email
                        td
                            a(href="//www."+member.facebook)= member.facebook
                        td.pr-0
                            a.del-button.pr-5(href="/members/members-delete/" + member.id)
                                i(class="fas fa-trash")                                
                            a.mod-button.pl-3(href="/members/members-modify/" +member.id)
                                i(class="fas fa-pen")